## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

mouse_stage_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
mouse_stage_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
nbr_of_mice = mouse_stage_df["Mouse ID"].nunique()
print(f"There are {nbr_of_mice} unique mice in the dataset.")

There are 249 unique mice in the dataset.

In [14]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

# create a df of the duplicate combination of mouse id and timepoint
stage_duplicate_df =  mouse_stage_df[mouse_stage_df.duplicated(["Mouse ID", "Timepoint"])]

# create numpy array of the deduped mouse ids
stage_duplicate_mice  = np.unique(stage_duplicate_df["Mouse ID"].values)

# print out all duplicate mouse ids
if len(stage_duplicate_mice) == 0:
    print("There are no mice with conflicting and/or duplicate records in the dataset.")
else:
    for mouse in stage_duplicate_mice:
        print(f"Mouse ID {mouse} has conflicting and/or duplicate records in the dataset.")

Mouse ID g989 has conflicting and/or duplicate records in the dataset.

In [15]:
# Optional: Get all the data for the duplicate mouse ID. 
for mouse in stage_duplicate_mice:
    all_stage_duplicates_df = mouse_stage_df.loc[mouse_stage_df['Mouse ID'] == mouse] 
    
all_stage_duplicates_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [16]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_study_df = mouse_stage_df.copy()

for i ,row in all_stage_duplicates_df.iterrows():
   mouse_study_df = mouse_study_df.drop(i) 

# create a df of the duplicate combination of mouse id and timepoint
study_duplicate_df =  mouse_study_df[mouse_study_df.duplicated(["Mouse ID", "Timepoint"])]

# create numpy array of the deduped mouse ids
study_duplicate_mice  = np.unique(study_duplicate_df["Mouse ID"].values)

# print out all duplicate mouse ids
if len(study_duplicate_mice) == 0:
    print("There are no mice with conflicting and/or duplicate records in the dataset.")
else:
    for mouse in study_duplicate_mice:
        print(f"Mouse ID {mouse} has conflicting and/or duplicate records in the dataset.")

There are no mice with conflicting and/or duplicate records in the dataset.

In [18]:
# Checking the number of mice in the clean DataFrame.
nbr_of_mice_cleaned = mouse_study_df["Mouse ID"].nunique()
print(f"There are {nbr_of_mice_cleaned} unique mice in the cleaned dataset.")

There are 248 unique mice in the cleaned dataset.

## Summary Statistics

In [30]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

# Create a grouby df grouped on Drug Regimen
regimen_grp_df = mouse_study_df.groupby(['Drug Regimen'])

# Create a pandas series for mean, median, variance, StdDev, and SEM
tumor_vol_mean = regimen_grp_df["Tumor Volume (mm3)"].mean()
tumor_vol_median = regimen_grp_df["Tumor Volume (mm3)"].median()
tumor_vol_median

pandas.core.series.Series

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen